* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
}

.container {
  max-width: 1100px ;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
}