* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
}

.container {
  max-width: 1100px ;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.header ul li {
  list-style-type: none;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 16px;
}